body {
    color: white;
    background-image: url("../images/background.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    min-height: 100vh;
    font-family: 'Arial Black', Gadget, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.navbar-toggler-icon {
    filter: brightness(0) invert(1);
}

.nav-link,
.navbar-brand {
    color: white !important;
    font-weight: bold;
}

.hover-link {
    color: white;
    text-decoration: none;
}

.hover-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1000px) {
    footer {
        font-size: small;
    }

    footer .col {
        padding: 0;
    }
}