<<<<<<< HEAD
=======
.quote {
    font-size: 4.5rem;
    font-weight: bold;
}

>>>>>>> 6dc538b (Improved website performance)
.underquote {
    font-family: 'Times New Roman', Times, serif;
}

.rotating-image {
    animation: spinRotate 30s infinite linear;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

@keyframes spinRotate {
    from {
        transform: rotate(0deg) translate(0);
    }

    to {
        transform: rotate(360deg) translate(0);
    }
}

.hover-image:hover {
    box-shadow: 0 0 20px 5px rgba(255, 165, 0, 1);
    cursor: pointer;
}

@media (max-width: 1000px) {
<<<<<<< HEAD
=======
    .quote {
        font-size: 3rem;
    }

>>>>>>> 6dc538b (Improved website performance)
    .rotating-image {
        display: none;
    }
}